section.section.content
	img.content__bg.bg_day(src="images/bg_content.png", alt="1")
	img.content__bg.bg_night(src="images/night.png", alt="2")
	img.content__sun(src="images/decor_4.png", alt="3")
	img.content__moon(src="images/decor_5.png", alt="4")
	.section_in
		.content__inner
			.content__column
				h2.content__title Glivera team
				p.content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, voluptatum! Iure, reiciendis. Voluptates, cumque deleniti? Mollitia saepe culpa quod quis, labore repudiandae expedita aliquid rem aut adipisci unde sequi officiis?
			.content__column
				.content__img
					img(src="images/decor_2.png", alt="#")