section.section.hero
	.hero__bg
		img(src="images/map.svg", alt="#")
	.section_in
		.hero__content
			h1.hero__title Lorem, ipsum dolor sit amet consectetur adipisicing elit.
			p.hero__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero velit debitis illo optio veritatis, in dolore neque delectus, praesentium nulla at! Ea omnis quos molestiae autem, necessitatibus beatae sapiente ullam.