mixin footer
	footer.footer
		.footer_in
			.footer__item <span>© 2022</span> Business Innovation Group SA. All rights reserved
			.footer__item Chemin Jean-Baptiste Vandelle 3A, Versoix, Geneva, 1290, Switzerland